# Custom index URL for specific packages
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.0+cu128
torchvision
torchaudio
https://huggingface.co/MonsterMMORPG/SECourses_Premium_Flash_Attention/resolve/main/xformers-0.0.30+3abeaa9e.d20250424-cp310-cp310-win_amd64.whl
triton-windows==3.3.0.post19

-r requirements_windows.txt