# Custom index URL for specific packages
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.0+cu128
torchvision
torchaudio
xformers
# bitsandbytes==0.44.0 # Changed to just bitsandbytes to allow upgrade
tensorboard==2.15.2
tensorflow==2.15.0.post1
onnxruntime-gpu==1.19.2

-r requirements.txt
